.logo 
{
    margin-right: 25%;
    width: 20%;
    height: auto;
}
.logotitre
{
    display: flex;
}
.titre
{
    text-align: center;
}
.navbar
{
    top: 15px;
    z-index: 1;
    background-color: black;
    padding : 1%;
}
li
{
    display: inline;
}
.img
{
     src: auto;
}
a
{
    color: rgb(236, 230, 220);
}
.div1
{
    display: flex;
}
aside
{
    background-color:rgb(212, 206, 206);
    flex: 30%;
}
.promo
{
    width: 100%;
    height: auto;
}
/* tableau */

table
{
    text-align: top left;
    border: thin solid black;
    width: 100%;
    border-collapse: collapse;
}
.imgtableau
{
    border: 1px solid;
    border-radius: 5%;
}
th
{
    border: 1px solid black;
}
td
{
    text-align: auto;
    border: 1px solid black;
    padding: 1%;
}
caption
{
    font-weight: bold;
}
/* formulaire */

p 
{
    margin-top: 15px;
}
fieldset
{
    margin-bottom: 15px;
    padding: 10px;
}
legend
{
    padding: 3px;
    font-weight: bold;
    font-variant: small-caps;
}
label
{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}
em
{
    font-weight: bold;
    font-style: normal;
    color: #000000
}
input:focus
{
    background: #eaeaea;
}
textarea
{
    width: 259px;
}
textarea
{
    height: 100px;
}
select
{
    width: 100px;
}
input [type=checkbox]
{
    width: 2px;
}
input [type=submit]
{
    width: 150px;
    padding: 10px;
}
