.logo 
{
    margin-right: 25%;
    width: 35%;
    height: auto;
    text-align: center;
}
html
{
    font-size: 100%;
}
h1
{
    font-size: 2rem;
}
.logotitre
{
    display: flex;
}
.titre
{
    text-align: left;
}
.navbar
{
    top: 15px;
    z-index: 1;
    background-color: rgba(5, 121, 5, 0.753);
    padding : 1%;
}
li
{
    display: inline;
    color: rgb(92, 38, 38);
}
img
{
    max-width: 100%;
    height: auto;
}
.img
{
     src: auto;
}
a
{
    color: rgb(236, 230, 220);
}
.div1
{
    display: flex;
}
aside
{
    background-color:rgb(212, 206, 206);
    flex: 30%;
}
.promo
{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 576px) 
	
{ 
    h1 
    { 
        font-size : 20px; 
    } 
}	
@media screen and (max-width: 768px) 
{
    h1 
    {
        font-size : 40px;
    } 
}  

/* tableau */

table
{
    text-align: top left;
    border: thin solid black;
    width: 100%;
    border-collapse: collapse;
}
.imgtableau
{
    border: 1px solid;
    border-radius: 5%;
}
th
{
    border: 1px solid black;
}
td
{
    text-align: auto;
    border: 1px solid black;
    padding: 1%;
}
caption
{
    font-weight: bold;
}
/* formulaire */

p 
{
    margin-top: 15px;
}
fieldset
{
    margin-bottom: 15px;
    padding: 10px;
}
legend
{
    padding: 3px;
    font-weight: bold;
    font-variant: small-caps;
}
label
{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}
em
{
    font-weight: bold;
    font-style: normal;
    color: #000000
}
input:focus
{
    background: #eaeaea;
}
textarea
{
    width: 259px;
}
textarea
{
    height: 100px;
}
select
{
    width: 100px;
}
input [type=checkbox]
{
    width: 2px;
}
input [type=submit]
{
    width: 150px;
    padding: 10px;
}
.accueil, legend
{
    text-align: center;
}
<!-- responsive -->
html 
{
    font-size: 100%;
}

img 
     max-width: 100%;
     height: auto;
}
.Mentions
{
    text-align: center;
}
